/* css reset */
    *,
    *::after,
    *::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    /* End of css reset */
    
html {
    font-size: 62.5%;
}

:root {
    --color-primary: #5d25b7;
    --color-secondary: #1ca0f9;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-heading: #12263c;
    --color--grey: #f4f4f4;
    --color--border-grey: #d1d1d1;
    --color-text: #333333;
    --footer-color: #151515;
    --button-curved-100: 100%;
    --border-radius-1: 5px;
  }


/* ============================ Typography ============================ */

h1,
h2,
h3,
li {
    font-family: Poppins, sans-serif;
    line-height: 1.3;
    font-size: 1.6rem;
    color: var(--color-black);
    margin: 0;
}

p {
  line-height: 2.6rem;
  padding-bottom: 2rem;
}

body,
ul,
li {
    font-family: "poppins", sans-serif;
    font-weight: 400;
}

.heading1 {
    font-size: 3rem;
  }
.heading2 {
    font-size: 2.4rem;
  }
p {
    font-size: 1.6rem;
  }
.font--bold {
    font-weight: 700;
  }
.font--Semibold {
    font-weight: 500;
  }
.font--light {
    font-weight: 300;
  }
.font--bolder {
  font-weight: 800;
}

.txt-color__white {
  color: #ffffff;
}

  @media screen and (min-width: 1024px) {
    .heading1 {
        font-size: 4rem;
    }
    .heading3 {
        font-size: 2.3rem;
    }
}

/* ============================ Links ============================ */
a {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--color-heading);
}

a:hover {
    color: var(--color-primary);
}

/* ============================ Buttons ============================ */
.btn {
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: 1.3rem 1.4rem;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: var(--color-primary);
    color: var(--color-white);
    transition: background .15s;
}

.btn--primary:hover {
    background: var(--color-secondary);
    color: var(--color-white);
}

/* Inputs */
.input {
  font-size: 1.6rem;
  padding: 2rem 2.5rem;
  border: 1px solid var(--color--border-grey);
  outline-color: var(--color-primary);
  border-radius: 5px;
}

::placeholder {
  color: var(--color-text);
  opacity: .7;
}

/* ============================ Lists ============================ */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-black);
}

.list--inline li {
  display: inline-block;
  margin-right: 2rem;
}

/* ============================ collapsible ============================ */
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .5s;
}

.collapsible--expanded  .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2,1fr);
  }
  .grid--2x2 {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}

/* ============================ Navigation Bar ============================*/
.header {
  position: fixed;
  background: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 666;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.nav__list {
  width: 100%;
  margin: 0;

}

.nav__item {
  margin-bottom: 2rem;
  font-weight: 400;
  margin-left: 2rem;
}

.nav__menu {
  box-sizing: content-box;
  width: 4rem;
  height: 4.4rem;
  padding-right: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}

.nav__logo {
  padding-top: 1rem;
  width: 15rem;
  margin-bottom: 0.5rem;
}

.nav__btn {
  padding: 0.9rem 2.4rem;
  width: 13rem;
}

.nav__btn > a{
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 3rem 0;
  }

  .nav__logo {
    width: 20rem;
  }

  .nav__menu {
    display: none;
  }

  .nav__item {
    align-self: center;
    font-size: 1.6rem;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    gap: 4rem;
    opacity: 1;
  }
}

/* ============================ Hero ============================ */
.hero__content {
  align-self: center;
  text-align: center;
  padding-top: 11rem;
}

.hero__info {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.hero__image {
  display: none;
  
}

@media screen and (min-width: 1024px) {
  .hero__content {
    margin-top: 8rem;
    padding: 5rem 7rem;
    text-align: left;
    font-size: 4.2rem;
    line-height: 1.3rem;
    
  }

  .hero__content .heading1 {
    font-weight: bolder;
  }

  .hero__info {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .hero__image {
    display: block;
    margin: 0;
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}

/* ============================ Side fold ============================ */
.side-fold {
  background: var(--color-primary);
  padding: 5rem 2rem 2rem;
  margin-top: 5rem;
}

.side-fold > p {
  margin: 0;
}

.side-fold__content {
  text-align: center;
  
}

@media screen and (min-width: 1024px) {
  .side-fold {
    display: flex;
  }

  .side-fold__content {
    text-align: left;
    padding: 3rem 10rem;
  }

  .absoluteBorder {
    position: relative;
    width: 1px;
    height: 200px;
    background-color: #aaa;
    top: 0;
    left: 0;
}
}

/* ============================ service-block ============================ */

.service-block {
  padding: 1rem;
  margin-bottom: 10rem;
}

.service-block__heading {
  display: flex;
  margin: 8rem 1rem;
  justify-content: center;
}

.card-holder {
  display: flex;
  gap: 4rem;
  
}

.card-holder__item {
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  justify-content: center;
  margin: 2rem;
}

.card-holder__image {
  width: 5rem;
  align-self: center;
  margin-bottom: 2rem;
}

.card-holder__text {
  text-align: center;
  padding: 0 1rem;
  margin: 0 1rem;
}

@media (min-width: 520px) and (max-width: 845px) {
  .service-block {
    padding: 1rem 6.5rem;
  }

  .card-holder {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}
@media screen and (max-width: 519px) {
  .service-block {
    margin-bottom: 5rem;
  }

  .card-holder__item {
    margin: 0;
  }

  .card-holder {
    display: grid;
    gap: 1;
  }

  .card-holder__text {
    padding: 0 8rem;
  }
}

/* ============================ About Us ============================ */
.about-us__text {
  padding: 8rem;
  text-align: left;
}

.about-us__text .heading1 {
  margin-bottom: 3rem;
}

.about-us__image {
  max-width: 100%;
  height: 55rem;
  padding: 2rem;
  padding-left: 10rem;
  padding-top: 2rem;
  background: var(--color-secondary);
  border: 1.5rem solid var(--color-white);
}

@media screen and (max-width: 1130px ) {
  .about-us--block {
    display: grid;
  }
  .about-us__text {
    text-align: center;
    padding: 0;
  }
  .about-us__image {
    width: 100vw;
    padding-left: 5rem;
  }
}

@media (min-width: 0px) and (max-width: 465px) {
  .about-us__image {
    height: 40rem;
  }
}

