<div class="about-us--block grid grid--1x2">
  <div class="about-us__text">
    <h2 class="heading1">About Us</h2>
    <p>
      We as a team of energetic IT enthusiastic professionals, who have immense
      & varied technology strength from design, UI, Backend technologies, Cloud
      technologies & IOT have combined together to build solutions rather tools
      & features
      <br />
      <br />
      Our core belief is in solutions through softwares and business
      transformation ideas, that would cater long term relationships with our
      clients, rather we call it as partnering and building your vision
      <br />
      <br />
      Come partner with us, for far more interesting journeys
    </p>
  </div>
  <div>
    <img
      class="about-us__image"
      src="images/about-us-vector-img.svg"
      alt="About Us"
    />
  </div>
</div>
