<div class="grid grid--2x2 branding-block">
  <div class="branding__image-container">
    <img class="branding__image" src="images/showcas-Branding-1.svg" alt="" />
  </div>
  <div class="branding__text">
    <h2 class="heading1 font-bold">Branding & reformation blueprints</h2>
    <p>
      Branding is the process of creating a strong, positive perception of a
      company, its products or services in the customer’s mind by combining such
      elements as logo, design, mission statement, and a consistent theme
      throughout all marketing communications.
    </p>
  </div>
  <div class="branding__text2 text-swap">
    <p>
      Effective branding helps companies differentiate themselves from their
      competitors and build a loyal customer base.
    </p>
    <p>
      Our pivotal pillar of our business is building a brand beyond colour, Logo
      and Typography. We believe in presenting a blueprint that would
      encapsulate the "Digital + Business" with creating trust, belief and
      customer satisfaction included in the solution blueprints that we present
    </p>
  </div>
  <div class="branding__image-container image-swap">
    <img class="branding__image2" src="images/showcas-Branding-2.svg" alt="" />
  </div>
</div>
