<div class="digital-solution--block">
  <div class="digital-solution__left-image">
    <img src="images/showcas-digital_solution_repos.svg" alt="" />
  </div>
  <div class="digital-solution__right">
    <div class="digital-solution__right-para">
      <h2 class="heading1">Digital Solution repos</h2>
      <p>
        When you have an up and running website and rather being on a lookout,
        why it's a spend and see a very little ROI, you have landed at the right
        place. We look at your business as our own, find holistic and flexible
        solutions that would ease out the toils that's eating your budget.
      </p>
    </div>
    <div class="digital-solution__right-side">
      <img
        class="digital-solution__right-image"
        src="images/showcas-digital_solution_repos-2.svg"
        alt=""
      />
      <div class="digital-solution__right-para2">
        <p>
          We focus on your customer's to yield better out -tome with robust
          technology, process & business solutions, that makes your customer's
          happy (WIN- WIN)
        </p>
        <button href="#" class="btn btn--primary">Get In Touch</button>
      </div>
    </div>
  </div>
</div>
