<div class="grid grid--1x2">
  <div class="hero__content">
    <h1 class="heading1">Business Transformation Solution</h1>
    <p>
      Business transformation is an umbrella term for making fundamental changes
      in how a business or organization runs. This includes personnel,
      processes, and technology. These transformations help organizations
      compete more effectively, become more efficient, or make a wholesale
      strategic pivot.
    </p>
    <a href="#" class="btn btn--primary">Get In Touch</a>
  </div>
  <img class="hero__image" src="images/hero (above fold).svg" alt="" />
</div>
