<header class="header collapsible">
  <nav class="nav">
    <a href="/"><img class="nav__logo" src="images/logo.svg" alt="" /></a>
    <svg
      class="nav__menu"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M4 6H20M4 12H20M4 18H20"
        stroke="#5d25b7"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#5d25b7"
      />
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">About Us</a></li>
      <li class="nav__item"><a href="#">Our Services</a></li>
      <li class="nav__item"><a href="#">Digital Solution</a></li>
      <li class="btn btn--primary nav__item nav__btn">
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
