<div class="service-block">
  <h3 class="heading1 service-block__heading">Our Services</h3>
  <div class="card-holder">
    <div class="card-holder__item">
      <img
        class="card-holder__image"
        src="icons/one_way_transition.svg"
        alt="Service icon"
      />
      <h3 class="font-bold card-holder__text">
        Business Transformation Solutions
      </h3>
    </div>
    <div class="card-holder__item">
      <img
        class="card-holder__image"
        src="icons/safe_browsing.svg"
        alt="Service icon"
      />
      <h3 class="font-bold card-holder__text">Digital solution repos</h3>
    </div>
    <div class="card-holder__item">
      <img
        class="card-holder__image"
        src="icons/branding.svg"
        alt="Service icon"
      />
      <h3 class="font-bold card-holder__text">
        Branding & reformation blueprints
      </h3>
    </div>
    <div class="card-holder__item">
      <img
        class="card-holder__image"
        src="icons/transformation_skill.svg"
        alt="Service icon"
      />
      <h3 class="font-bold card-holder__text">Talent Augmentation</h3>
    </div>
  </div>
</div>
