<div class="side-fold">
  <p class="side-fold__content txt-color__white">
    Business transformations are bold, seismic shifts that organizations make to
    accelerate change and growth beyond typical incremental advancements. The
    scope is broad and strategic, such as switching to new business or operating
    models.
  </p>
  <div class="absoluteBorder"></div>
  <p class="side-fold__content txt-color__white">
    We have experience in providing solutions rather than tools, our business
    value lies in understanding the pain points and pitfalls, and identifying
    the fitting solution that can prevail and provide long term solution
  </p>
</div>
