<div class="talen-agumentation--block">
  <div class="talen-agumentation__right">
    <div class="talen-agumentation__right-para">
      <h2 class="heading1">Talent Augmentation</h2>
      <p>
        Talent augmentation is a way to fill a temporary skills gap at your
        company. Let’s imagine that your company receives an interesting project
        from a top client, but you know you’ll have trouble making it happen.
        Perhaps the project requires a programming language that your staff
        doesn’t know well, or the deadline is a tight turn-around.
      </p>
    </div>
    <div class="talen-agumentation__right-side">
      <div class="talen-agumentation__right-para2 text-swap">
        <p>
          We bridge this gap, with understanding your business need and
          providing the skills that's required to have a fast-paced outcome with
          flexible solutioning
        </p>
        <button href="#" class="btn btn--primary">Get In Touch</button>
      </div>
      <img
        class="talen-agumentation__right-image image-swap"
        src="images/showcas-talent_1.svg"
        alt=""
      />
    </div>
  </div>
  <div class="talen-agumentation__left-image">
    <img src="images/showcas-talent_2.svg" alt="" />
  </div>
</div>
